@import 'colors.css';

* {
    font-family: "JetBrainsMono Nerd Font Propo", "FiraCode Nerd Font Propo", sans-serif;
    font-size: 10px;
    font-weight: 600;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @bg;
}

/* Workspaces */
#workspaces {
    padding: 0 4px;
    border-radius: 5px;
}

#workspaces button {
    padding: 0 4px;
    margin: 3px 1.5px;
    border-radius: 5px;
    background: @dark-gray;
    color: @gray;
    transition: 0.20s;
}

#workspaces button.active {
    background: @gray;
    color: @dark-gray;
    padding: 0 17px;
}

#workspaces button:hover {
    background: @white;
    color: @black;
}

#custom-wallpaper-changer,
#tray,
#backlight,
#clock,
#pulseaudio,
#network,
#battery,
#custom-arch,
#custom-cpu,
#custom-weather,
#custom-updates,
#custom-wlogout,
#custom-swaync {
  padding: 0 12px;
  background: @dark-gray;    /* module box color */
  margin: 3px 3px;
  border-radius: 5px;
  color: @light-gray;
}

/* Volume highlight when muted */
#pulseaudio.muted { color: @red; }

tooltip {
  background: @bg;
  border: 1px solid @blue;
  border-radius: 8px;
}

tooltip label {
  color: @light-gray;
  font-size: 12px;
  padding: 5px;
}
